DB=mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER>.mongodb.net/<DATABASE>?retryWrites=true&w=majority
ACCESS_KEY=<key for your API, will be used by external apps to access your API>,
LOCAL=true
WEBHOOK_URL=<optional - needed to send logs via webhooks>
APP_NAME=<optional, used in webhooks>
APP_AVATAR=<optional, used in webhooks>